<template>
  <div class="row" style="margin-top: 50px">
    <div class="col-12">
      <documentation-item v-for="cmp in myComponents" :key="cmp.name" :cmp="cmp">
      </documentation-item>
    </div>
  </div>
</template>

<script>
import DocumentationItem from '@/components/DocumentationItem'
import ReposMain from '@/components/Main'
import ReposError from '@/components/Error'
import Repos from '@/components/repos/Repos'
import ReposHeader from '@/components/repos/ReposHeader'
import ReposBody from '@/components/repos/ReposBody'
import RepoName from '@/components/repos/RepoName'
import ReposFooter from '@/components/repos/ReposFooter'

export default {
  name: 'documentation',
  components: {
    DocumentationItem
  },
  data () {
    return {
      myComponents: {
        ReposMain,
        ReposError,
        Repos,
        ReposHeader,
        ReposBody,
        RepoName,
        ReposFooter
      },
      documentedComponents: [
        'ReposMain',
        'ReposError',
        'Repos',
        'ReposHeader',
        'ReposBody',
        'RepoName',
        'ReposFooter'
      ],
      selectedCmp: 'ReposMain'
    }
  },
  computed: {
    activeCmp () {
      return this.myComponents[this.selectedCmp]
    }
  },
  methods: {
    changeComponent (cmp) {
      this.selectedCmp = cmp
    }
  }
}
</script>

<style scoped>
</style>
