<template>
  <div class="alert alert-danger">
    Error fetching data! Please, try again later.
  </div>
</template>

<script>
export default {
  name: 'repos-error',
  introduction: 'Error notification component',
  token: '<repos-error></repos-error>'
}
</script>

<style scoped>
  .alert {
    margin-top: 50px;
  }
</style>
