<template>
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div v-if="loading" class="loader-box">
        <loader></loader>
      </div>
      <div v-else-if="loaded">
        <repos
          :repos="repos"
          :categories="categories"
          :count="count"
          @categoryUpdate="updateCategory"
          @paramUpdate="updateParam"
          @loadMore="toggleLoadRepos"
          @loadLess="toggleLoadRepos">
        </repos>
      </div>
      <div v-else>
        <repos-error></repos-error>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Loader from '@/components/Loader'
import Repos from '@/components/repos/Repos'
import ReposError from '@/components/Error'

export default {
  name: 'repos-main',
  introduction: 'Main component of app',
  description: `Contains logic for displaying loader while data is being fetched from server,
  displaying component with data when data is fetched, and displaying notice if any error 
  happend during procces of data fetch.`,
  token: '<repos-main></repos-main>',
  components: {
    Loader,
    Repos,
    ReposError
  },
  computed: {
    ...mapGetters({
      getRepos: 'getRepos',
      loading: 'getReposLoading',
      loaded: 'getReposLoaded',
      categories: 'getCategories',
      getCategoryCount: 'getCategoryCount'
    }),
    repos () {
      return this.getRepos({category: this.category, param: this.param, loadAll: this.loadAll})
    },
    count () {
      return this.getCategoryCount(this.category)
    }
  },
  data () {
    return {
      category: 'All',
      param: '',
      loadAll: false
    }
  },
  methods: {
    updateCategory (category) {
      this.category = category
    },
    updateParam (param) {
      this.param = param
    },
    toggleLoadRepos () {
      this.loadAll = !this.loadAll
    }
  }
}
</script>

<style>
  a {
    outline: 0;
  }
  .loader-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
  }
</style>
