<template>
  <div class="container">
    <router-view></router-view>
  </div>
</template>

<script>
import Repos from '@/components/Main'
import { mapActions } from 'vuex'

export default {
  name: 'App',
  components: {
    Repos
  },
  methods: {
    ...mapActions(['loadRepos'])
  },
  created () {
    this.loadRepos()
  }
}
</script>

<style>
  @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
</style>
