<template>
  <ul class="list-group" v-if="repos.length > 0">
    <li v-for="repo in repos" :key="repo.id" class="list-group-item">
      <a :href="repo.html_url" target="_blank" class="font-weight-bold">
        <fork-icon class="icon" v-show="repo.fork"></fork-icon>
        <source-icon class="icon" v-show="!repo.fork"></source-icon>
        <repo-name :repoName="repo.name" :charsToEmphasize="charsToEmphasize"></repo-name>
      </a>
    </li>
  </ul>
</template>

<script>
import ForkIcon from '@/components/icons/Fork'
import SourceIcon from '@/components/icons/Source'
import RepoName from '@/components/repos/RepoName'
export default {
  name: 'repos-body',
  introduction: 'Component that displays list of repos',
  description: `This component displays repos list that are passed to it as prop, 
  and contains name of repo and also icon for type of repo (fork or source) that is 
  displayed depending on fork field in repo object`,
  token: `<repos-body :repos="reposArr"
  
            charsToEmphasize="someStr"></repos-body>`,
  props: {
    repos: {
      type: Array,
      required: true,
      note: 'Array of repos to be displayed'
    },
    charsToEmphasize: {
      type: String,
      required: false,
      note: 'String that contains chars that should be emphasized in repo name'
    }
  },
  components: {
    ForkIcon,
    SourceIcon,
    RepoName
  }
}
</script>

<style scoped>
  svg {
    fill: #666;
    margin-right: 5px;
    margin-bottom: -2px;
  }
  .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  a, a:hover {
    color: #0366d6;
  }
</style>
