<template>
  <span v-html="emphasizedRepoName"></span>
</template>

<script>
export default {
  name: 'repo-name',
  introduction: 'Component for displaying repo name',
  description: `This component display repo name with emphasized characters in name that match
  current search input that is contained in prop charsToEmphasize.`,
  token: '<repo-name :repoName="someString" charsToEmphasize="otherString"></repo-name>',
  props: {
    repoName: {
      type: String,
      required: true,
      note: 'Contains repo name'
    },
    charsToEmphasize: {
      type: String,
      required: false,
      note: 'Contains characters from repo name that should be emphasized'
    }
  },
  computed: {
    emphasizedRepoName () {
      if (!this.charsToEmphasize) {
        return this.repoName
      } else {
        let splittedName = this.repoName
          .split(this.charsToEmphasize)
          .join(`<span style="color: #0a4f9d; font-style: italic">${this.charsToEmphasize}</span>`)
        return splittedName
      }
    }
  }
}
</script>
