<template>
  <div class="repos-footer">
    <div v-show="!hideFooter">
      <a href="#" v-show="!moreShown" @click="loadMore">Load more...</a>
      <a href="#" v-show="moreShown" @click="loadLess">Load less...</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'repos-footer',
  introduction: 'ReposFooter component with clickable link "Load more/less"',
  description: `This component contains clickable link for "Load more", "LoadLess" functionality.
  Load more or Load less text is shown depending on boolean show more that is passed from parent
  as prop. When link is clicked value of boolean field changes and corresponding event is emitted 
  to parent.`,
  token: `<repos-footer :hideFooter="someBool"></repos-footer>`,
  props: {
    hideFooter: {
      type: Boolean,
      required: false,
      note: 'Boolean fieled that control displaying of "Load more" or "Load less" text in link'
    }
  },
  data () {
    return {
      moreShown: false
    }
  },
  methods: {
    loadMore () {
      this.moreShown = true
      this.$emit('loadMore')
    },
    loadLess () {
      this.moreShown = false
      this.$emit('loadLess')
    }
  }
}
</script>

<style scoped>
  .repos-footer {
    background-color: #f6f8fa;
    text-align: center;
    padding: 15px 0;
    border-radius: 0 0 5px 5px;
  }

  a, a:hover {
    color: #0366d6;
  }
</style>
