<template>
  <div class="">
    <div class="heading-box">
      <p class="font-weight-bold">
        Your repositories
        <span class="badge badge-secondary">{{ count }}</span>
      </p>
    </div>

    <div class="search-box">
      <input type="text"
        class="form-control"
        placeholder="Find a repository..."
        @input="updateParam"
        v-model="searchParam">
    </div>

    <div class="category-box">
      <ul class="nav">
        <li class="nav-item" v-for="category in categories" :key="category">
          <a class="nav-link"
            href="#"
            :class="{'active-category': activeCategory === category}"
            @click="updateCategory(category)">
            {{ category }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'repos-header',
  introduction: 'Component that contains search field and categories navbar.',
  description: `This component serves as main navigation component for repos.
  It displays number of repos in currently selected category, have input field 
  for filtering repos by name, and have navbar with all available categories.`,
  token: `<repos-header :count="num" 
            
            :categories="categoriesArr"></repos-header>`,
  props: {
    count: {
      type: Number,
      required: true,
      note: 'Number of repos in currently selected category.'
    },
    categories: {
      type: Array,
      required: true,
      note: 'Array containing all available categories.'
    }
  },
  data () {
    return {
      searchParam: '',
      activeCategory: 'All'
    }
  },
  methods: {
    updateCategory (category) {
      this.activeCategory = category
      this.$emit('categoryUpdate', this.activeCategory)
    },
    updateParam () {
      this.$emit('paramUpdate', this.searchParam)
    }
  }
}
</script>

<style scoped>
  .heading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f8fa;
    padding: 9px 10px 10px;
    border-bottom: 1px solid rgba(27,31,35,0.15);
    font-size: 16px;
    border-radius: 5px 5px 0 0;
  }
  .heading-box p {
    margin: 0;
    padding: 5px 0;
  }
  .heading-box span {
    border-radius: 20px;
  }
  .search-box {
    padding: 10px;
  }
  .category-box {
    display: flex;
    justify-content: center;
  }

  .search-box, .category-box {
    background-color: #fafbfc;
  }

  .nav-item {
    margin-right: 5px;
  }
  .nav-link {
    margin-right: 5px;
    text-decoration: none;
    color: #586069;
  }
  .nav-link:hover {
    border-bottom: 2px solid #cfd4d9;
  }
  .active-category {
    border-bottom: 2px solid #e36209;
  }
  .active-category:hover {
    border-bottom: 2px solid #e36209;
  }
</style>
