<template>
  <div class="repos">
    <repos-header
      :count="count"
      :categories="categories"
      @categoryUpdate="updateCategory"
      @paramUpdate="updateParam">
    </repos-header>
    <repos-body :repos="repos" :charsToEmphasize="searchParam"></repos-body>
    <repos-footer
      :hideFooter="repos.length === 0"
      @loadMore="loadMore"
      @loadLess="loadLess">
    </repos-footer>
  </div>
</template>

<script>
import ReposHeader from '@/components/repos/ReposHeader'
import ReposBody from '@/components/repos/ReposBody'
import ReposFooter from '@/components/repos/ReposFooter'

export default {
  name: 'repos',
  introduction: 'Component that contains elements of repos',
  description: `This component groups three main elements of repos list: ReposHeader, ReposBody, ReposFooter 
  and pass needed data to each one as props, aslo react on event emitted from ReposHeader or ReposFooter.`,
  token: `<repos :repos="reposArr" 

            :count="numOfRepos" 
            
            :categories="arrOfCategories"></repos>`,
  props: {
    repos: {
      type: Array,
      required: true,
      note: 'Array containing repos that should be displayed.'
    },
    count: {
      type: Number,
      required: true,
      note: 'Number of repos in currently selected category.'
    },
    categories: {
      type: Array,
      required: true,
      note: 'Array containing available categories.'
    }
  },
  components: {
    ReposHeader,
    ReposBody,
    ReposFooter
  },
  data () {
    return {
      searchParam: ''
    }
  },
  methods: {
    updateCategory (category) {
      this.$emit('categoryUpdate', category)
    },
    updateParam (param) {
      this.searchParam = param
      this.$emit('paramUpdate', param)
    },
    loadMore () {
      this.$emit('loadMore')
    },
    loadLess () {
      this.$emit('loadLess')
    }
  }
}
</script>

<style scoped>
  .repos {
    margin: 50px 0 30px;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 5px;
  }
</style>
